<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>

<form method="post">
    <ul>
        <li th:each="name : ${cheeseNames}">
            <input type="checkbox" name="name" th:value="${name}" />
            <label th:for="${cheeseNames}"
                   th:text="${name}"
                   name="${name}"></label>
        </li>
    </ul>
    <input type="submit" />
</form>

</body>
</html>